<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
    <head>
        <title>User Update</title>
    </head>
    <body>
        <div layout:fragment="content">
            <form class="form-signin" th:action="@{/update/{id}(id=${user.id})}" method="post">
                <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" />
                <h1 class="h3 mb-3 font-weight-normal">Edition</h1>
                <div th:if="${param.error}">
                    Invalid email and password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="${user.email}" required="" />
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="New Password" required="" />
                <label for="inputFullname" class="sr-only">Full Name</label>
                <input type="text" name="fullname" id="inputEmail" class="form-control" placeholder="user.fullname" required="" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit Changes</button>
            </form>
            <form class="form-signin" th:action="@{/dashboard}" method="get">
                <button class="btn btn-md btn-success btn-block" type="Submit">Back</button>
            </form>
        </div>
    </body>
</html>

